<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2015. J.F.Eick
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~   limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.uni_weimar.m18.anatomiederstadt" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".AnatomieDerStadtApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider
            android:name=".data.LevelProvider"
            android:authorities="de.uni_weimar.m18.anatomiederstadt"
            android:exported="false" />

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LevelSelectActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".LevelActivity"
            android:label="Level" >
        </activity>
        <activity
            android:name=".LevelPrepareActivity"
            android:label="@string/title_activity_level"
            android:parentActivityName=".LevelSelectActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LevelSelectActivity" />
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f9a5d1652d43d87a792a2e2f73601f8cede9617d" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
    </application>

</manifest>
